{% extends 'dashboard.html' %}
{% block contenido %}
<div class=" justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
<h2>Todos los reportes</h2>
<ul>
    <li>
        <a href="{%url 'pdf_alerta' %}"  class="nav-link px-2 d-block link-dark text-decoration-none text-black">
            <span data-feather="file-text"></span>
            Reporte de Alertas
        </a>
        <a href="{%url 'pdf_fauna' %}"  class="nav-link px-2 d-block link-dark text-decoration-none text-black">
            <span data-feather="file-text"></span>
            Reporte de Fauna
        </a>
        <a href="{%url 'pdf_flora' %}"  class="nav-link px-2 d-block link-dark text-decoration-none text-black">
            <span data-feather="file-text"></span>
            Reporte de Flora
        </a>
    </li>
    <li>
        <a href="{%url 'pdf_alerta' %}"  class="nav-link px-2 d-block link-dark text-decoration-none text-black">
            <span data-feather="file-text"></span>
            Reportes de alertas
        </a>
    </li>
    <li>
        <a href="{%url 'pdf_alerta' %}"  class="nav-link px-2 d-block link-dark text-decoration-none text-black">
            <span data-feather="file-text"></span>
            Reportes de alertas
        </a>
    </li>


</ul>    
</div>

{% endblock %}