{% load static %}
<!DOCTYPE html>
<html>

<head>
    <!-- META -->
    <meta charse="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href='{% static "images/logo.ico" %}' />

    <!-- Bootstrap CSS -->
    <link href='{% static "css/login.css" %}' rel="stylesheet">
    <link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}'>
    <!--<link href='{% static "css/alert.css" %}' rel="stylesheet">-->
    <title>{% block title %} {{ title }} {% endblock %}</title>

</head>

<body class="text-center">
    <div class="card w-25 my-5 mx-auto ">
        <div class="card-body">
            <form id="report_form" method="post" name="report_form">
                {% csrf_token %}
                <img src='{% static "images/logo.ico" %}' alt="ico" width="80" height="80">
                <h1 class="h3 mb-3 fw-normal">Creación de alertas</h1>
                <div class="form-floating py-2">
                    <select class="form-select" name="rpt_lrt_tp" id="rpt_lrt_tp">
                        <option selected>--Seleccione una alerta--</option>
                        <option value="tala_ilegal">Tala ilegal</option>
                    </select>
                    <label for="rpt_lrt_tp">Tipo de alerta</label>
                </div>
                <div class="form-floating">
                    <input type="hidden" class="form-control" id="rpt_user" name="rpt_user" value="{{user.id}}">
                </div>
                <div class="form-floating">
                    <input type="hidden" class="form-control" id="rpt_date" name="rpt_date" value="{{date}}">
                </div>
                <div class="form-floating py-2">
                    <select class="form-select" name="rpt_zone" id="rpt_zone">
                        <option selected>--Seleccione una zona--</option>
                        {% for row in zona %}
                        <option value="{{row.slug}}">{{row.nombre}}</option>
                        {% endfor %}
                    </select>
                    <label for="rpt_zone">Zonas</label>
                </div>
                <button class="btn btn-outline-success btn-block" type="submit">Ingresar</button>
            </form>
            <br>
            <button class="btn btn-outline-danger btn-block" onclick="window.location.href='/zonas/'">Regresar</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2018–2021</p>
        </div>
    </div>


    <!-- SCRIPTS -->
    <script src='{% static "js/jquery-3.6.0.min.js" %}'></script>
    <script src='{% static "js/bootstrap.min.js" %}'></script>
    <script src='{% static "js/bootstrap.bundle.min.js" %}'></script>
</body>

</html>