{% extends 'home.html' %}

{% load static %}

{% block contenido %}
<div class="container">
    <br><br><br>

    <div class="row">
        <div class="col">
            <p>El alcance de este aplicativo ofrecerá conexiones entre posibles inversionistas que quieran participar
                para salvaguardar dichos lugares, la información suministrada en este sitio web será de suma importancia
                y se manejará con los estándares de confidencialidad por lo cual será limitada sus consultas según
                disposiciones y características de la información suministrada, el sitio se dotará de información
                reportada por personas o entidades que deseen dar a conocer la situación actual de los diferentes
                lugares con posibles amenazas o situaciones que requieran la intervención de las autoridades
                competentes, así mismo, para compartir ideas de mejoramiento o exponer experiencias de lugares que hayan
                tenido un final feliz.

                De esta manera, le estamos apuntando el objetivo de desarrollo sostenible 15 (Vida Ecosistema
                terrestres), que en su meta 15c, manifiesta la promoción al apoyo mundial a la lucha contra la caza
                furtiva y el tráfico de especies protegidas, en particular aumentando la capacidad de las comunidades
                locales para promover oportunidades de subsistencia sostenibles.

                Así mismo, estaremos contribuyendo a las iniciativas establecidas por el gobierno nacional enmarcado en
                su plan nacional sobre el medio ambiente, y que, a través de C.R.A. se materializó en la gestión
                ambiental en el Atlántico con una proyección desde el año 2012 al 2022 con el Plan de Gestión Ambiental
                Regional PGAR, para brindar una herramienta que oriente la gestión ambiental a largo plazo, puesto que
                exige la participación integral de actores sociales, políticos, culturales y cívicos de la región,
                quienes representan una buena parte del desarrollo sostenible ambiental.</p>

        </div>

    </div>
</div>

{% endblock %}