{% extends 'home.html' %}
{% load static %}
{% block contenido %}

<main>
    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Zonas protegidas</h1>
          <p class="lead text-muted">Se tienen registradas {{count}} zonas protegidas</p>
          <p>
            <a href="#" class="btn btn-primary my-2">Main call to action</a>
            <a href="#" class="btn btn-secondary my-2">Secondary action</a>
          </p>
        </div>
      </div>
    </section>
  
    <div class="album py-5 bg-light">
      <!-- Contenedor -->
      <div class="container">
  
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

          {% for zona in lista %}

          <div class="col">
            <div class="card shadow-sm">
              <img class="img-thumbnail" src='{% static "images/" %}{{zona.image_url}}' alt='{{zona.nombre}}' width='100%' height='auto'>
              <div class="card-body">
                <h3 class="card-text">{{zona.nombre}}</h3>
                <p class="card-text acortar" id="descripcion">{{zona.descripcion}}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" onclick="window.location.href='/zonas/{{zona.slug}}'" class="btn btn-sm btn-outline-secondary">Detalles</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          {% endfor %}
        </div>
      </div>
      <!-- Contenedor -->
    </div>
  
    <script type="text/javascript" src='{% static "js/todas.js" %}'></script>
  </main>
  {% endblock %}