{% extends 'dashboard.html'%}
{% load static %}
{% block contenido %}
<div class="text-center">
    <div class="card w-50 my-5 mx-auto border-white">
        <div class="card-body ">
            <form id="alert_form" method="post" name="alert_form">
                {% csrf_token %}
                <h1 class="h3 mb-3 fw-normal">Creación de alertas</h1>
                <div class="form-floating py-2">
                    <select class="form-select " name="slc_lrt_tp" id="slc_lrt_tp">
                        <option selected>--Seleccione una alerta--</option>
                        <option value="tala_ilegal">Tala ilegal</option>
                    </select>
                    <label for="slc_lrt_tp">Tipo de alerta</label>
                </div>
                <div class="form-floating">
                    <input type="hidden" class="form-control" id="slc_user" name="slc_user" value="{{user.id}}">
                </div>
                <div class="form-floating">
                    <input type="hidden" class="form-control" id="slc_date" name="slc_date" value="{{date}}">
                </div>
                <div class="form-floating py-2 ">
                    <select class="form-select " name="slc_zone" id="slc_zone">
                        <option selected>--Seleccione una zona--</option>
                        {% for row in zona %}
                        <option value="{{row.slug}}">{{row.nombre}}</option>
                        {% endfor %}
                    </select>
                    <label for="slc_zone">Zonas</label>
                </div>
                <button class="btn btn-outline-success btn-lg w-50" type="submit">Crear</button>
            </form>
            <br>
        </div>
    </div>
</div>
{% endblock %}
