{% load static %}
<!DOCTYPE html>
<html>

<head>
  <!-- META -->
  <meta charse="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" href='{% static "images/logo.ico" %}' />

  <!-- Bootstrap CSS -->

  <link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}'>
  <link href='{% static "css/headers.css" %}' rel="stylesheet">
  <title>{% block title %} {{ title }} {% endblock %}</title>
  {% block header %}
  {% endblock %}
</head>

<body class="pb-0 align-self-stretch">
  <!-- Header -->
  <header class="p-2 fixed-top bg-dark text-white">
    <div class="container-fluid">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <div class="">
          <a href="/index/" class="d-block text-white text-decoration-none fs-4 ">
            <img src='{% static "images/logo.ico" %}' alt="ico" width="40" height="40">
            Sabumafu
          </a>
        </div>


        <ul class="nav col-12 col-lg-auto me-lg-auto justify-content-center mx-auto">
          <li><a href="{% url 'index' %}" class="nav-link px-2 text-white">Inicio</a></li>

          <li>
            <div class="dropdown text-end">
              <a href="#" class="nav-link px-2 d-block link-dark text-decoration-none dropdown-toggle text-white"
                id="dropdown1" data-bs-toggle="dropdown" aria-expanded="false">
                Zonas
              </a>
              <ul class="dropdown-menu text-medium" aria-labelledby="dropdown1">
                <li><a class="dropdown-item" href="{% url 'zona_lista' %}">Todas las zonas</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="{% url 'flora_lista' %}">Flora</a></li>
                <li><a class="dropdown-item" href="{% url 'fauna_lista' %}">Fauna</a></li>
              </ul>
            </div>
          </li>

          <li><a href="{% url 'alert' %}" class="nav-link px-2 text-white">Alertas</a></li>

          <li>
            <div class="dropdown text-end">
              <a href="#" class="nav-link px-2 d-block link-dark text-decoration-none dropdown-toggle text-white"
                id="dropdown2" data-bs-toggle="dropdown" aria-expanded="false">
                Municipios
              </a>
              <ul class="dropdown-menu text-medium" aria-labelledby="dropdown2">
                <li><a class="dropdown-item" href="{% url 'index_municipio' %}">Lista de municipios</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Entidades gubernamentales</a></li>
                <li><a class="dropdown-item" href="#">ONGs</a></li>
              </ul>
            </div>
          </li>

          <li>
            <div class="dropdown text-end">
              <a href="#" class="nav-link px-2 d-block link-dark text-decoration-none dropdown-toggle text-white"
                id="dropdown2" data-bs-toggle="dropdown" aria-expanded="false">
                Reportes
              </a>
              <ul class="dropdown-menu text-medium" aria-labelledby="dropdown2">
               <li><a class="dropdown-item" href="{% url 'alerta-pdf' %}">Alerta</a></li>

              </ul>
            </div>
          </li>


          <li><a href="#" class="nav-link px-2 text-white">Acerca de</a></li>
        </ul>


        <form class="col-4 col-lg-auto  me-lg-3">
          <input type="search" class="form-control btn-outline-light" placeholder="Buscar..." aria-label="Search">
        </form>

        <div class="text-end">
          {% if user %}
          {% if user.id != None %}
          <div class="dropdown">
            <button type="button" class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown">
              {{user.username}}
            </button>
            <ul class="dropdown-menu">
              {% if user.is_superuser == 1 %}
                <li><a class="dropdown-item" href="/admin/">Perfil admin</a></li>
                <li><a class="dropdown-item" href="/reporte/">Reportes</a></li>
              {% endif %}
              <li><a class="dropdown-item" href="/account/logout">Cerrar sesión</a></li>
            </ul>
          </div>
          {% endif%}

          {% endif %}

          {% if user.id == None %}

          <a href="/account/login/" role="button" class="btn btn-outline-light me-2">Ingreso</a>
          <a href="/ingreso/registro/" role="button" class="btn btn-success">Registro</a>

          {% endif%}
        </div>
      </div>
    </div>
    </div>
  </header>

  <!-- Contenido -->

  {% block contenido %}
  {% endblock%}

  <!-- Footer -->
  <footer class="text-muted py-5 bg-dark">
    <div class="container">
      <p class="float-end mb-1">
        <a href="#">Back to top</a>
      </p>
      <p class="mb-1">Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
      <p class="mb-0">New to Bootstrap? <a href="/">Visit the homepage</a> or read our <a
          href="/docs/5.0/getting-started/introduction/">getting started guide</a>.</p>
      <div>Iconos diseñados por <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a
          href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a></div>
    </div>

  </footer>

  <!-- SCRIPTS -->
  <script src='{% static "js/jquery-3.6.0.min.js" %}'></script>
  <script src='{% static "js/bootstrap.min.js" %}'></script>
  <script src='{% static "js/bootstrap.bundle.min.js" %}'></script>
</body>


</html>