{% extends 'home.html' %}

{% load static %}

{% block header%}

{% endblock %}

{% block contenido %}

<main class="bg-light">
    <section class="pt-5 text-center container">
        <div class="row">
            <div class="pt-5 col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light"><strong>Flora</strong></h1>
                <!-- <p class="lead text-muted">Se tienen registradas {{count}} especies de flora</p>-->
            </div>
        </div>
    </section>
    <div class="album py-5 bg-light">
        <!-- Contenedor -->
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for row in flora %}
                <div class="col">
                    <div class="card shadow-sm">
                        {% if row.flora.image %}
                        <img class="card-img-top" src='{{row.flora.image.url}}' alt="{{row.flora.nombre}}" width='100%'
                            height='250px'>
                        {% endif %}
                        <div class="card-body" style="height: 12rem;">
                            <h3 class="card-text">{{row.flora.nombre}}</h3>
                            <p class="card-text acortar" id="descripcion">{{row.flora.descripcion}}</p>
                            <div class="d-flex justify-content-between align-items-center">
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <button type="button" onclick="window.location.href='/flora/detalle/{{row.flora.id}}'"
                                class="btn btn-sm btn-outline-secondary ">Detalles</button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- Contenedor -->
    </div>
</main>

{% endblock %}